<html>
    <style>
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    </style>
    <h1>Donate?</h1>
    <p>If you used this website to help with your drafts this year, consider kicking me a few bucks</p>
    <p>Alternatively, consider <a href="https://bencarneiro.com">hiring me</a> for your data engineering / analytics needs</p>
    <br></br>
    <p>venmo: @Ben-Carneiro</p>
    <p>cashapp: $BenCarneiro</p>
    <p>bitcoin: 1Ks8Yz7Kc13shtdHEFLFFN6fvKorgkKQaa</p>
    <p>ethereum: tonydeals.eth (0xbc6518d2463e52ce89d5e37f55438e953fa12211)</p>
    <p></p>
</html>