<html>
    <style>
        h1 {
            text-align: center;
        }
        th {
        text-align: center;
        padding: 10px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: white;
        border: 1px solid black;
        }
        td {
        text-align: center;
        padding: 5px;
        border: 1px solid black;
        }
        thead {
            background-color: white;
            border-radius: 1px;
            border-color: black;
        }
    </style>

    <h1>Draft Buddy</h1>



    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <table class="sortable">
        <thead>
        <tr class="header">
            <th>id</th>
            <th>
                Player
            </th>
            <th>
                Links
            </th>
            <th>
                String
            </th>
            <th>
                Position
            </th>
            <th>
                Team
            </th>
            <th>
                PPR Projection </br> (2023)
            </th>
            <th>
                Standard Projection </br> (2023)
            </th>
            <th>
                PPR Average </br> (2020-2022)
            </th>
            <th>
                STANDARD Average </br> (2020-2022)
            </th>
            <th>
                Points Per Game (PPR)</br> (2020-2022)
            </th>
            <th>
                Points Per Game (Standard)</br> (2020-2022)
            </th>
            <th>
                PPR Points Per Touch </br> (2020-2022)
            </th>
            <th>
                STANDARD Points Per Touch </br> (2020-2022)
            </th>
            <th>
                Rush Yds Per G </br> (2020-2022)
            </th>
            <th>
                Rec Yds Per G </br> (2020-2022)
            </th>

            <th>
            Attempts per game
            Completions per game
            Pass Yds per game
            Pass TDs per game
            Interceptions per game
            Fumbles per game

            Rush Att per game
            Rush Yds per game
            Rush TDs per game
            Fumbles per game

            Targets per game
            Catches per game
            Rec Yards per game
            Rec TDs per game
            Fumbles per game

            FGA 
            FGM
            </th>
        </tr>
    </thead>

        {% for player in fantasy %}
        <tr>
            <td>  {{ player.index }} </td>
            <td> 
                {{player.name}}
             </td>
             <td>
                <a href={{ player.espn_link }} target="_blank"> ESPN </a> 
             </td>
            <td> {{ player.string }} </td>
            <td>
                <a href={{ player.position_url }} target="_blank"> {{ player.position }} </a>
            </td>
            <td>
                <a href={{ player.team_url }} target="_blank"> {{ player.team }} </a>
            </td>
            <td> {{ player.PPR}} </td>
            <td> {{ player.STANDARD}} </td>
            <td> {{ player.ppr_avg }} </td>
            <td> {{ player.standard_avg }} </td>
            <td> {{ player.ppg_ppr }} </td>
            <td> {{ player.ppg_standard }} </td>
            <td> {{ player.points_per_touch_ppr }} </td>
            <td> {{ player.points_per_touch_standard }} </td>
            <td> {{ player.rush_yds_per_g}} </td>
            <td> {{ player.rec_yds_per_g}} </td>
        </tr>
        {% endfor %}
    </table>

</html>
