<html>

<style>
    p{
        text-align: center;
    }
    h1 {
        text-align: center;
    }
    th {
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    border: 1px solid black;
    }
    td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    }
    thead {
        background-color: white;
        border-radius: 1px;
        border-color: black;
    }
</style>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <table class="sortable">
        <thead>
        <tr class="header">
            <th>
                player
            </th>
            <th>
                team
            </th>
            <th>
                games played
            </th>
            <th>
                fantasy_points
            </th>
            <th>
                fantasy_points_per_game
            </th>
            <th>
                rush_yds_per_game
            </th>
            <th>
                rush_tds_per_game
            </th>
            <th>
                receiving_yds_per_game
            </th>
            <th>
                receiving_tds_per_game
            </th>
            <th>
                pass_yds_per_game
            </th>
            <th>
                pass_tds_per_game
            </th>
            <th>
                rushing_attempts_per_game
            </th>
            <th>
                passing_attempts_per_game
            </th>
            <th>
                passing_attempts
            </th>
        </tr>
    </thead>
    {% for player in stats %}
    <tr>
        <td>
            {{ player.player__name }}
        </td>
        <td>
            {{ player.player__team__id }}
        </td>
        <td>
            {{ player.games_played }}
        </td>
        <td>
            {{ player.fantasy_points }}
        </td>
        <td>
            {{ player.fantasy_points_per_game }}
        </td>
        <td>
            {{ player.rushing_yards_per_game }}
        </td>
        <td>
            {{ player.rushing_tds_per_game }}
        </td>
        <td>
            {{ player.receiving_yards_per_game }}
        </td>
        <td>
            {{ player.receiving_tds_per_game }}
        </td>
        <td>
            {{ player.passing_yards_per_game }}
        </td>
        <td>
            {{ player.passing_tds_per_game }}
        </td>
        <td>
            {{ player.carries_per_game }}
        </td>
        <td>
            {{ player.attempts_per_game }}
        </td>
        <td>
            {{ player.passing_attempts }}
        </td>
    </tr>
    {% endfor %}
</table>
{{ stats }}
</html>