<html>

<style>
    p{
        text-align: center;
    }
    h1 {
        text-align: center;
    }
    th {
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    border: 1px solid black;
    }
    td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    }
    thead {
        background-color: white;
        border-radius: 1px;
        border-color: black;
    }
</style>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <table class="sortable">
        <thead>
        <tr class="header">
            <th>
                Player
            </th>
            <th>
                Position
            </th>
            <th>
                Team
            </th>
            <th>
                Games Played
            </th>
            <th>
                Fantasy Points
            </th>
            <th>
                Fantasy Points / Game
            </th>
            <th>
                Rush Attempts / Game
            </th>

            <th>
                Rush Yds / Game
            </th>
            <th>
                Rush TDs / Game
            </th>
            <th>
                Targets / Game
            </th>
            <th>
                Receptions / Game
            </th>
            <th>
                Receiving Yds / Game
            </th>
            <th>
                Receiving TDs / Game
            </th>
            <th>
                Pass Attempts / Game
            </th>
            <th>
                Pass Completions / Game
            </th>
            <th>
                Pass Yds / Game
            </th>
            <th>
                Pass Tds / Game
            </th>
        </tr>
    </thead>
    {% for player in stats %}
    <tr>
        <td>
            {{ player.player__name }}
        </td>
        <td>
            <a target="_blank" href="/position_stats?pos={{ player.player__position }}">{{ player.player__position }} </a>
        </td>
        <td>
            <a target="_blank" href="{{ player.player__team__espn_depth_chart }}">{{ player.player__team_id }} </a>
        </td>
        <td>
            {{ player.games_played }}
        </td>
        <td>
            {{ player.fantasy_points }}
        </td>
        <td>
            {{ player.fantasy_points_per_game }}
        </td>
        <td>
            {{ player.rushing_attempts_per_game }}
        </td>
        <td>
            {{ player.rushing_yards_per_game }}
        </td>
        <td>
            {{ player.rushing_tds_per_game }}
        </td>
        <td>
            {{ player.targets_per_game }}
        </td>
        <td>
            {{ player.receptions_per_game }}
        </td>
        <td>
            {{ player.receiving_yards_per_game }}
        </td>
        <td>
            {{ player.receiving_tds_per_game }}
        </td>
        <td>
            {{ player.attempts_per_game }}
        </td>
        <td>
            {{ player.completions_per_game }}
        </td>
        <td>
            {{ player.passing_yards_per_game }}
        </td>
        <td>
            {{ player.passing_tds_per_game }}
        </td>
    </tr>
    {% endfor %}
</table>
{{ stats }}
</html>